<!DOCTYPE html>
<html>
    <head>
        <title>
          Watson
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-default">
    <div class="container fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/classify">Watson</a>
        </div>
        <div class="collapse navbar-collapse">
           
            
        </div>
    </div>
</nav>

        
   