<% include ../partials/header.ejs %> 

<div class="container">
    <div class="row">
      <div class="col-lg-12">
       <div style="text-align:center">
           <h1 style="margin-top:100px;font-size:100px">4<span style="color:red">0</span>4</h1>
           <h1 style="font-size:40px;color:red">Page <span style="color:black">Not</span> Found</h1>
        </div>
    </div>
      </div>
           
</div>


<% include ../partials/footer.ejs %>