<% include ../partials/header.ejs %>
<div class="container-fluid" style="max-width:450px">
   
    <h1>It is a <%= res %></h1>
       </div>
    
<script>

    



<% include ../partials/footer.ejs %>



